{% extends "private_chat/base.html" %}
{% block content %}
    <p>Chats with {{ other_chatuser.get_username }}:</p>
    <ul id="messages">
        {% for message in chat_messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <input type="text" id="m">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
        var socket = new WebSocket("ws://localhost:8888/websocket");
        socket.onmessage = function (e) {
            console.log("got: "+ e.data);
            $("#messages").append($("<li>").text(e.data));
        };
        $("#m").keyup(function (event){
            if (event.keyCode === 13) {
                var message = $("#m").val();
                console.log("sending: " + message);
                socket.send(JSON.stringify({
                    "message": message,
                    "sender": "{{ chatuser.get_username }}",
                    "receiver": "{{ other_chatuser.get_username }}"
                }));
                $("#m").val("");
                $("#m").focus();
            }
        });
    </script>
{% endblock %}