{% extends "private_chat/base.html" %}
{% block content %}
    <p>Hello, {{ chatuser.get_username }}</p>
    <p>Contacts:</p>
    <ul id="contacts">
        {% for contact in chatuser.contacts %}
            <li><a href="{% url 'private-chat:chat' contact.get_username %}">{{ contact.get_username }}</a></li>
        {% endfor %}
    </ul>
    <p>Contacts pending:</p>
    <ul id="contacts-pending">
        {% for contact in chatuser.contact_accepter.all %}
            <li id="pending-{{ contact.requester.get_username }}">
                <span>{{ contact.requester.get_username }}</span>
                <a data-name="{{ contact.requester.get_username }}" class="accept-btn">Accept</a>
            </li>
        {% endfor %}
    </ul>
    <p>Contacts requested:</p>
    <ul id="contacts-requested">
        {% for contact in chatuser.contact_requester.all %}
            <li id="requested-{{ contact.accepter.get_username }}">{{ contact.accepter.get_username }}</li>
        {% endfor %}
    </ul>
    <p>Request a contact:</p>
    <input id="contact-username" type="text" placeholder="username">
    <input id="contact-request-btn" type="button" value="Request">
{% endblock %}
{% block scripts %}
    <script>
        var context = {
            username: "{{ chatuser.get_username }}",
            chat_url: "{% url 'private-chat:chat' 'blah' %}"
        };
        function get_chat_url(username) {
            return context.chat_url.replace('blah', username);
        }
        var contacts_socket = new WebSocket("ws://localhost:8888/contacts");
        var contact_requests_socket = new WebSocket("ws://localhost:8888/contactrequests");
        contacts_socket.onmessage = function (e) {
            console.log("got: "+ e.data);
            var data = JSON.parse(e.data);
            var to_add;
            if (data.accepter === context.username) {
                to_add = data.requester;
            } else if (data.requester === context.username) {
                to_add = data.accepter;
            }
            if (to_add) {
                $("#contacts").append(
                    $("<li>").append(
                        $("<a>")
                        .attr("href", get_chat_url(to_add))
                        .text(to_add)
                    )
                );
            }
        };
        var on_click_accept = function (){
            var requester = this.getAttribute('data-name');
            var accepter = context.username;
            var message = JSON.stringify({
                requester: requester,
                accepter: accepter
            });
            console.log(message);
            contacts_socket.send(message);
            this.parentNode.remove();
        };
        $(".accept-btn").click(on_click_accept);
        $("#contact-request-btn").click(function (){
            var requester = context.username;
            var accepter = $("#contact-username").val();
            var message = JSON.stringify({
                requester: requester,
                accepter: accepter
            });
            console.log(message);
            contact_requests_socket.send(message);
        });
        contact_requests_socket.onmessage = function (e) {
            console.log("got: "+ e.data);
            var data = JSON.parse(e.data);
            if (data.accepter === context.username) {
                $("#contacts-pending").append(
                    $("<li>")
                    .attr("id", "pending-"+data.requester)
                    .append(
                        $("<span>")
                        .text(data.requester)
                    )
                    .append(
                        $("<a>")
                        .attr("data-name", data.requester)
                        .addClass("accept-btn")
                        .text(" Accept")
                        .click(on_click_accept)
                    )
                );
            } else if (data.requester === context.username) {
                $("#contacts-requested").append(
                    $("<li>")
                    .attr("id", "requested-"+data.accepter)
                    .text(data.accepter)
                );
            }
        };
    </script>
{% endblock %}